# altgraph @ file:///AppleInternal/Library/BuildRoots/bcce998f-ff34-11ef-9d34-f2a857e00a32/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
contourpy==1.3.0
cycler==0.12.1
decision-tree==0.4
etl==0.0.1
exceptiongroup==1.2.2
fonttools==4.59.0
# future @ file:///AppleInternal/Library/BuildRoots/bcce998f-ff34-11ef-9d34-f2a857e00a32/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gurobipy==12.0.1
importlib_resources==6.5.2
iniconfig==2.0.0
joblib==1.5.1
kiwisolver==1.4.7
# macholib @ file:///AppleInternal/Library/BuildRoots/bcce998f-ff34-11ef-9d34-f2a857e00a32/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
matplotlib==3.9.4
nltk==3.2.4
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pillow==11.3.0
pluggy==1.5.0
preprocessing==0.1.13
pyparsing==3.2.3
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
# six @ file:///AppleInternal/Library/BuildRoots/bcce998f-ff34-11ef-9d34-f2a857e00a32/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sklearn==0.0
sphinx-rtd-theme==0.2.4
threadpoolctl==3.6.0
tomli==2.2.1
tzdata==2025.1
zipp==3.23.0
